<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="btnController">

      <ion-header-bar class="bar-calm">
        <h1 class="title">myApp</h1>
      </ion-header-bar>


      <!-- corpo da aplicação -->
      <ion-content class="has-header has-footer" ng-Controller="appController">

      <!-- botões -->
        <button class="button button-royal" ng-click="alteraNomeBtn('Botão Básico')">
          {{(nomeBtn1 ? nomeBtn1 : 'button-royal')}}
        </button>
        <label class="item item-input">
          <input type="text" placeholder="Digite o nome do botão..." ng-model="textoInput">
        </label>  
        <div class="padding">
          <button class="button button-block button-calm" ng-mouseenter="alteraNomeBtn2(textoInput)">
            {{(nomeBtn2 ? nomeBtn2 : 'button-royal')}}
          </button>
        </div>
        <button class="button button-full button-assertive" ng-disabled="desabilitar" ng-click="desabilitar = true">
          button-assertive
        </button>
        <br>


        <!-- Listas -->
        <ul class="list">
          <li class="item">Item</li>  
          <a href="#" class="item item-icon-left">
            <i class="icon ion-email">Olhar e-mail</i>
          </a>
          <a href="#" class="item item-icon-left">
            <i class="icon ion-person-stalker">Amigos</i>
            <span class="badge badge-assertive">12</span>
          </a>
          <a href="#" class="item item-avatar">
            <img src="img/avatar.png">
            <h2>Pedro</h2>
            Descrição do avatar
          </a>

          <li class="item">Item</li>  
         
        </ul>
        <br>

        <!-- Diretivas -->
        <ion-list ng-controller="MeuController" show-reorder="true">
          <div class="item item-divider">
            Diretivas - reordenar lista
          </div>
          <ion-item ng-repeat="item in itens">
            Item: 
{{item}}            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex,$toIndex)">
              
            </ion-reorder-button>
          </ion-item>
        </ion-list>
        <br>

        <!-- Cartões de conteudo -->
        <div class="card">
          <div class="item item-divider">
            titulo
          </div>
          <div class="item item-text-wrap">
            conteudo deu um cartao
          </div>
        </div>
        <div class="list card">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-home">Endereço</i>
          </a>
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone">Telefone</i>
          </a>
        </div>

        <div class="card" ng-repeat="item in noticias">
          <div class="item item-avatar">
            <img src="img/{{item.imgUser}}">
            <h2>{{item.nome}}</h2>
            <p>{{item.titulo}}</p>            
          </div>
          <div class="item item-body">
              <img src="img/{{item.imgNot}}" class="full-image">
              <p>{{item.descricao}}</p>
              <p>
                <a href="#" class="subdued">Leia mais...</a>
              </p>
            </div>
        </div>


      </ion-content>



      <ion-footer-bar class="bar-calm">
        <div class="buttons">
          <button class="button">btn Esquerdo</button>
        </div>
        <h1 class="title">Footer testeComponentes</h1>
        <div class="buttons">
          <button class="button">btn Direito</button>
        </div>
      </ion-footer-bar>

    </ion-pane>
  </body>
</html>
